
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: linear-gradient(#00000088 ,#00000088),
    url(play2.png);
    background-size: cover;
    background-position: center;
}
body:hover{
    background-image: linear-gradient(#0000005f ,transparent),
    url(play2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* Start Variables */

:root {
    --primary-color: #AE3DF4;
    --secondary-color: #050017;
    --white-color: #fff;
  }
  
  /* End Variables */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--secondary-color);
  }
  
  @font-face {
    font-family: myFont;
    src: url(../TechnoRace-Italic.otf);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  /* End Global Rules */
  /* Start Header */
  
  header {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  
  header .container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
  }
  
  header .container .navbar h1 {
    color: var(--white-color);
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  header .container .navbar h1 span {
    color: var(--primary-color);
  }
  
  header .container .navbar nav ul {
    display: flex;
  }
  
  header .container .navbar nav ul li a {
    display: block;
    color: var(--white-color);
    font-size: 14px;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  header .container .navbar nav ul .men {
    display: none;
  }
  
  header .container .navbar nav ul li a:hover {
    color: var(--primary-color);
  }
  
  header .container .sin {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  header .container .sin .svg {
    color: var(--primary-color);
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  
  header .container .sin .svg:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  header .container .sin .go {
    display: flex;
    gap: 15px;
  }
  
  header .container .sin .go .sig {
    color: var(--white-color);
    font-size: 14px;
    position: relative;
    background-color: #14074B;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -webkit-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -moz-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -ms-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -o-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
  }
  
  header .container .sin .go .log {
    color: var(--white-color);
    font-size: 14px;
    background-color: var(--primary-color);
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -webkit-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -moz-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -ms-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
    -o-border-radius: 30% 70% 73% 27% / 28% 42% 58% 80%;
  }
  
  header .container .bar {
    color: var(--white-color);
    width: 40px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  /* Start Responsive Header */
  
  @media (max-width: 1200px) {
  
    header .container .bar {
      display: flex;
    }
  
    .bar::after {
      font-family: "Font Awesome 5 Free";
      content: "\f0c9";
      font-weight: 900;
      font-size: 25px;
      color: var(--white-color);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  
    .close::after {
      font-family: "Font Awesome 5 Free";
      content: "\f00d";
      font-weight: 900;
      font-size: 25px;
      color: var(--white-color);
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  
    header .container .sin .svg {
      display: none;
    }
  
    header .container .navbar nav ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.70);
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  
    header .container .navbar nav ul.active {
      opacity: 1;
      visibility: visible;
    }
  
    header .container .navbar nav ul li a {
      padding: 20px;
      border-bottom: 1px solid var(--primary-color);
    }
  
  }
  
  @media (max-width: 600px) {
    header .container .sin .go {
      display: none;
    }
  }


img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(255, 247, 247);
    border: #ffffff solid 1px;
}
.p{
    height: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.contener{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 30px 10px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 247, 247, 0.517);
    background:transparent;
    backdrop-filter: blur(50px);

    /* background-color: white; */
}
.contener:hover{
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

.content{

    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;

}
.imge{

    text-align: center;
    


}
.log{
    text-decoration: none;
        color: #000
    
}
h1{
    letter-spacing: 2px;
    font-weight: 900;
    color: white;
}
#email,#password{
    display: inline-block;
    width: 75%;
    font-size: large;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000;
    margin: 0px 40px;
    padding-left: 5px;
    border-bottom-style:solid;
    outline: none;
    color: #050505;
    box-shadow: 0 0 15px rgba(255, 247, 247, 0.47);
    border-radius: 5px;

    

}
#email:hover,#password:hover,button:hover{
    box-shadow: 0 0 20px rgb(255, 247, 247);
}
#email{
    margin-bottom: 30px;
}


button{
    display: block;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-large;
    margin: 20px 40px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 15px rgba(255, 247, 247, 0.51);
}
#f{
    margin-top: 10px;
    margin-left: 90px;
    color: #ffffff;
}
#me{
    margin-top: 10px;
    margin-left: 40px;
    color: white;
}
.r{
    color: white;
}
p{
    display: inline-block;
    margin-left:80px ;
}
#e{
    margin-left:  45px;
    color: white;
    font-weight: 400;
}
.d{
    color: #ffffff;
}
a{
    color: #ffffff;
}
@media only screen and (max-width: 450px) {

    .contener{
        margin-left: 20px;
    }

}